:root {
    --background: hsla(216, 32%, 21%, 1);
    --card-background-color: linear-gradient(
      180.2deg,
      #000000 -8.53%,
      #07452d 109.43%
    );
    --btn-color: hsla(0, 0%, 2%, 1);
    --text-primary: hsla(0, 0%, 100%, 1);
    --border-color: white;
    --card-shadow:4px 7px 19px rgba(71, 249, 246, 0.57);
  }

.card-image img {
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  box-shadow:0 2px 3px rgba(0,0,0,0.5);
  
  
}
.card {
  padding: 1rem;
  background: var(--card-background-color);
  border:2px solid var(--border-color);
  border-radius:20px;
}
.card .card-title{
  font-size:1.3rem;
  font-weight:bold;
  margin-top:0.5rem;
  
}







.card .learn-btn button{
  background:var(--btn-color);
  padding:0.7rem 2.5rem;
  font-size:15px;
  color:var(--text-primary);
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-weight:600;
  letter-spacing:1px;

}


